<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="zrobinso" content="Zoe Robinson">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Zoe Robinson Professional Website">
    <title>Your name</title>
</head>
<body>
    <header>
        <h1>Zoe Robinson</h1>
        <nav>
            <!-- links to "Home", "CV", "Contact me", and "For fun".   -->
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
        <div class="main">
            <h2>Contact Me</h2>
            <div class="container">
                <form action="action_page.php">
              
                  <label for="fname">First Name (required)</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
              
                  <label for="lname">Email</label>
                  <input type="text" id="email1" name="email1" placeholder="Your email..">

                  <label for="subject">Comments</label>
                  <textarea id="subject" name="subject" style="height:200px"></textarea>
              
                  <input type="submit" value="Submit">
              
                </form>
              </div>
            <h3>Contact Methods</h3>
                <tr>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>LinkedIn </td>
                <td>
        </div>
    </header>
    <footer>
        <p>Copyright @Zoe</p>
    </footer>
</body>
</html>