<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="zrobinso" content="Zoe Robinson">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Zoe Robinson Professional Website">
    <title>Your name</title>
</head>
<body>
    <header>
        <h1>Zoe Robinson</h1>
        <nav>
            <!-- links to "Home", "CV", "Contact me", and "For fun".   -->
            <a href="index.html">Home</a>
            <a href="./views/cv.html">CV</a>
            <a href="./views/contact.html">Contact me</a>
            <a href="./views/fun.html">For fun</a>
        </nav>
        <div class="main">
            <h2>Things I Love To Do</h2>
            <ul>
                <li>Listen to music</li>
                <li>Try new recipes</li>
                <li>Visit cafes</li>
            </ul>
        </div>
    </header>
    <footer>
        <p>Copyright @Zoe</p>
    </footer>
</body>
</html>