<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="zrobinso" content="Zoe Robinson">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Zoe Robinson Professional Website">
    <title>Your name</title>
</head>
<body onload= "addYear()">
    <header>
        <h1 id="webname" >Zoe Robinson</h1>
        <nav>
            <!-- links to "Home", "CV", "Contact me", and "For fun".   -->
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="contact.html">contact me</a>
            <a href="fun.html">for fun</a>
        </nav>
    </header>
    <div class="mainLayout">
        <div id="item1">
            <h2>Things I Love To Do For Fun</h2>
            <!-- <button id="seeMore" onclick="showList()">Click to see...</button> -->
            <ul id="List">
                <li>Listen to music</li>
                <li>Try new cooking recipes</li>
                <li>Visit cafes</li>
                <li>Play video games</li>
            </ul>
        </div>
        <div id="item2">
            <img src="../static/funImage.png" alt="Photo of me having fun" id="fun" width="500" height="600">
        </div>
        <div id="item3">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/deo1d5weKao?si=KEWAS6O1uvrfRbgL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div id="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>  
    <footer id="copyYear"> designed and coded by Zoe Robinson &copy;</footer>
</body>
</html>

