<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class = "containers">
        <header class = "header">
            <h1 >Zoe Robinson</h1>
        </header>
        <nav class="nav">
            <i class="fas fa-bars" id = "hamburger"></i>
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="contact.html">contact me</a>
            <a href="fun.html">for fun</a>
            <a href="template.html">template page</a>
        </nav>
        <main class = "main">
            <figure class = "mainImg">
                <img src="../static/imageOfMe.png" alt="Photo of me studying">
            </figure>
            <p id="mainContent" class = "flicker">
                I am a sophmore at Carnegie Mellon University studying Information Systems. I am currently taking two IS classes: 67-270 and 67-272, both focused on web developement. In my free time, I like to read, listen to music, and play video games. My favorite game is Teamfight Tactics, but I also like to play Minecraft with my friends. At school, I am a part of a club called Carnegie Mellon Racing, where we build two fully electric racecars each year. 
            </p>
            <summary class = "bottomContent">
                <p>
                    Within Carnegie Mellon Racing, I am the VP of Marketing and Outreach. This year, I raised 37.4k for our club.
                </p>
            </summary>
        </main>
        <footer class = "footer">
            designed and coded by Zoe Robinson &copy;
        </footer>
    </div>
</body>
</html>