
* {
    margin: 5px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type="submit"] {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#webname {
    background-color: #92ad70;
}

nav a {
    text-decoration: none;
    margin-right: 15px;
    color:#92ad70;
}

th {
    padding: 12px;
    background-color: darkgray;
    color: white;
    width: fit-content;
 }
 
 table tr:nth-child(even) {
    background-color: lightgray;
 }

/* #List{
    display: none;
} */

#showLess {
    display: none;
}

#intro2 {
    display: none;
}

#validateMsg {
    text-align: max-content;
    margin: auto;
}

#fun {
    border-radius: 100%;
}


.container {
    border-radius: 100%;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container > button {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.mainLayout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px;
    width:100%;

}

.mainLayout > div {
    max-width: 48%;
    flex-basis:30%;
}


/* notes: 
@media only screen and (max-width: 600px) {
    grid container thingie, copy paste and fit for iphone 
}

active nav bar:
 links = document.querySelectorAll('nav a').for
 newLinks = Array.from(links);
 links.forEach(element => {
    console.log(element[]);
*/

/* TEMPLATE */
.containers{
    display: grid;
    grid-template-areas: 
    'header header'
    'nav nav'
    'main-img main'
    'bottom bottom'
    'footer footer';
}

header{
    grid-area: header;
    background-color: #92ad70;
}

nav{
    grid-area: nav;
    background-color: salmon;
}

figure{
    grid-area: main-img;
    background-color: lightblue;
    height: 30vh;
}
main{
    grid-area: main;
    background-color: lightcoral;
}
summary{
    grid-area: bottom;
    background-color: lightgreen;
}
footer{
    grid-area: footer;
    background-color: lightgray;
}

/* <div class = "containers">
<header>Header</header>
<nav>Navigation</nav>
<figure>Figure</figure>
<main>Main Content</main>
<summary>Summary</summary>
<footer>Footer</footer> */