<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="zrobinso" content="Zoe Robinson">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Zoe Robinson Professional Website">
    <title>Your name</title>
</head>
<body>
    <header>
        <h1>Zoe Robinson</h1>
        <nav>
            <!-- links to "Home", "CV", "Contact me", and "For fun".   -->
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
        <div class="main">
            <h2>Things I Love To Do For Fun</h2>
            <ul>
                <li>Listen to music</li>
                <li>Try new cooking recipes</li>
                <li>Visit cafes</li>
                <li>Play video games</li>
            </ul>
        </div>
    </header>
    <footer>
        <p>© 2025 designed and coded by Zoe Robinson</p>
    </footer>
</body>
</html>